@media (max-width:768px)
  body
    padding 0
    overflow auto

  .row
    width auto
    .cell
      float none
      width auto
    .cell-2
      padding 0

  .phone
    background none
    width auto
    height auto
    > .inner
      width auto
      margin 0
      padding 0 10px
      height auto
      border none
      padding-bottom 2em

  .feature-list
    padding 0 20px
    max-width 400px
    margin-left auto
    margin-right auto
    dt
      font-size 20px
    dd
      font-size 14px

  .feature-below
    padding 0 20px
    text-align center
