@import '../../../node_modules/normalize.css/normalize.css';

body
  font-family 'Microsoft Yahei', '微软雅黑', 'Helvetica Neue', 'adobe雅黑', 'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', '宋体', sans-serif

*
  box-sizing border-box
